[submodule ".config/tmux/plugin/tmux-resurrect"]
	path = .config/tmux/plugin/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "vimfiles/pack/rc/opt/securemodelines/after"]
	path = vimfiles/pack/rc/opt/securemodelines/after
	url = https://github.com/ciaranm/securemodelines
[submodule "vimfiles/pack/rc/opt/vim9-syntax"]
	path = vimfiles/pack/rc/opt/vim9-syntax
	url = https://github.com/lacygoill/vim9-syntax
[submodule "vimfiles/pack/rc/opt/vim-dict"]
	path = vimfiles/pack/rc/opt/vim-dict
	url = https://github.com/skywind3000/vim-dict
[submodule "vimfiles/pack/rc/opt/vim-sneak"]
	path = vimfiles/pack/rc/opt/vim-sneak
	url = https://github.com/justinmk/vim-sneak
[submodule "vimfiles/pack/rc/opt/vim-tridactyl"]
	path = vimfiles/pack/rc/opt/vim-tridactyl
	url = https://github.com/tridactyl/vim-tridactyl
[submodule "vimfiles/pack/rc/opt/vim-markdown-folding"]
	path = vimfiles/pack/rc/opt/vim-markdown-folding
	url = https://github.com/masukomi/vim-markdown-folding
[submodule "vimfiles/pack/rc/opt/vim-oscyank"]
	path = vimfiles/pack/rc/opt/vim-oscyank
	url = https://github.com/ojroques/vim-oscyank
[submodule "vimfiles/pack/rc/opt/lsp"]
	path = vimfiles/pack/rc/opt/lsp
	url = https://github.com/yegappan/lsp
[submodule "vimfiles/pack/rc/opt/vim-gh-line"]
	path = vimfiles/pack/rc/opt/vim-gh-line
	url = https://github.com/ruanyl/vim-gh-line
[submodule "vimfiles/pack/rc/opt/vim-yaml"]
	path = vimfiles/pack/rc/opt/vim-yaml
	url = https://github.com/stephpy/vim-yaml
[submodule "vimfiles/pack/rc/opt/tabular"]
	path = vimfiles/pack/rc/opt/tabular
	url = https://github.com/godlygeek/tabular
[submodule "vimfiles/pack/rc/opt/miniSnip"]
	path = vimfiles/pack/rc/opt/miniSnip
	url = https://github.com/Jorengarenar/miniSnip
[submodule ".config/hammerspoon/Spoons/SkyRocket.spoon"]
	path = .config/hammerspoon/Spoons/SkyRocket.spoon
	url = https://github.com/dbalatero/SkyRocket.spoon
[submodule "vimfiles/pack/lx/opt/vim-sh"]
	path = vimfiles/pack/lx/opt/vim-sh
	url = https://github.com/lxhillwind/vim-sh
[submodule "vimfiles/pack/lx/opt/vim-jump"]
	path = vimfiles/pack/lx/opt/vim-jump
	url = https://github.com/lxhillwind/vim-jump
[submodule "vimfiles/pack/lx/opt/table-im"]
	path = vimfiles/pack/lx/opt/table-im
	url = https://github.com/lxhillwind/table-im.git
[submodule "vimfiles/pack/lx/opt/lf.vim"]
	path = vimfiles/pack/lx/opt/lf.vim
	url = https://github.com/lxhillwind/lf.vim
[submodule "vimfiles/pack/lx/opt/vim-fuzzy"]
	path = vimfiles/pack/lx/opt/vim-fuzzy
	url = https://github.com/lxhillwind/vim-fuzzy
[submodule "vimfiles/pack/rc/opt/vader.vim"]
	path = vimfiles/pack/rc/opt/vader.vim
	url = https://github.com/junegunn/vader.vim
[submodule "vimfiles/pack/rc/opt/vim-plug/autoload"]
	path = vimfiles/pack/rc/opt/vim-plug/autoload
	url = https://github.com/junegunn/vim-plug
