[submodule ".config/tmux/plugin/tmux-resurrect"]
	path = .config/tmux/plugin/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule ".config/tmux/plugin/tmux-url-select"]
	path = .config/tmux/plugin/tmux-url-select
	url = https://github.com/dequis/tmux-url-select
[submodule "vimfiles/pack/rc/opt/securemodelines/after"]
	path = vimfiles/pack/rc/opt/securemodelines/after
	url = https://github.com/ciaranm/securemodelines
[submodule "vimfiles/pack/rc/opt/sitruuna.vim"]
	path = vimfiles/pack/rc/opt/sitruuna.vim
	url = https://github.com/eemed/sitruuna.vim
[submodule "vimfiles/pack/rc/opt/vim9-syntax"]
	path = vimfiles/pack/rc/opt/vim9-syntax
	url = https://github.com/lacygoill/vim9-syntax
[submodule "vimfiles/pack/rc/opt/vim-dict"]
	path = vimfiles/pack/rc/opt/vim-dict
	url = https://github.com/skywind3000/vim-dict
[submodule "vimfiles/pack/rc/opt/vim-dirvish"]
	path = vimfiles/pack/rc/opt/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
[submodule "vimfiles/pack/rc/opt/vim-mucomplete"]
	path = vimfiles/pack/rc/opt/vim-mucomplete
	url = https://github.com/lifepillar/vim-mucomplete
[submodule "vimfiles/pack/rc/opt/vim-sneak"]
	path = vimfiles/pack/rc/opt/vim-sneak
	url = https://github.com/justinmk/vim-sneak
[submodule "vimfiles/pack/rc/opt/vim-tridactyl"]
	path = vimfiles/pack/rc/opt/vim-tridactyl
	url = https://github.com/tridactyl/vim-tridactyl
[submodule "vimfiles/pack/rc/opt/vim-markdown-folding"]
	path = vimfiles/pack/rc/opt/vim-markdown-folding
	url = https://github.com/masukomi/vim-markdown-folding
[submodule "vimfiles/pack/rc/opt/vim-oscyank"]
	path = vimfiles/pack/rc/opt/vim-oscyank
	url = https://github.com/ojroques/vim-oscyank
[submodule "vimfiles/pack/rc/opt/lsp"]
	path = vimfiles/pack/rc/opt/lsp
	url = https://github.com/yegappan/lsp
[submodule "vimfiles/pack/rc/opt/vim-peekaboo"]
	path = vimfiles/pack/rc/opt/vim-peekaboo
	url = https://github.com/junegunn/vim-peekaboo
[submodule "vimfiles/pack/rc/opt/vim-gh-line"]
	path = vimfiles/pack/rc/opt/vim-gh-line
	url = https://github.com/ruanyl/vim-gh-line
[submodule "vimfiles/pack/rc/opt/vim-plug/autoload"]
	path = vimfiles/pack/rc/opt/vim-plug/autoload
	url = https://github.com/junegunn/vim-plug
