" showmode
set smd

" (relative)number
set nu
set rnu
" incsearch
set is

let mapleader = ' '
noremap <Space> <Nop>

" bug in ideavim?
noremap <C-w>c :close<CR>

inoremap <C-u> <C-o>d0

nnoremap ]g :action GotoNextError<CR>
nnoremap [g :action GotoPreviousError<CR>

nnoremap <Leader>f :action Switcher<CR>

" plugin emulation

" use <Command-F1> to toggle (which works even if nerdtree not enabled)
set NERDTree

" requires additional plugin installation.
set sneak
