// usage:
// bind the following command to shortcut:
//   rofi -show drun -modi drun,window

@theme "/usr/share/rofi/themes/Monokai.rasi"

configuration {
    // add C-c
    kb-cancel: "Control+c,Escape,Control+g,Control+bracketleft";
    // it occupies C-c, so set it to empty.
    kb-secondary-copy: "";

    kb-mode-next: "Tab";
    kb-element-next: "";

    kb-mode-previous: "ISO_Left_Tab";
    kb-element-prev: "";
}
