# global (readonly) keys config:
# /Applications/sioyek.app/Contents/MacOS/keys.config
#
# user keys config:
# ~/Library/Application Support/sioyek/keys_user.config
# for macos, make a symlink of current file to it.
#
# For more information, see builtin tutorial.pdf

screen_down;screen_down;move_visual_mark_up <space>
screen_up;screen_up;move_visual_mark_down <S-<space>>
screen_down d
screen_up u
